.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}
.btn{
    /* padding: 10px 50px; */
    transition: all ease 0.5s;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.btn:hover{
    background-color: rgb(255, 123, 0);
    border-radius: 5px;
    color: black;
    font-weight: 700;
    box-shadow: 0 0 30px rgba(117, 189, 22, 0.842);
    
}

.top{
   
    height: 400px;
    padding-top: 40px;
}
@media screen and (max-width:390px){
    .top{
    
        width: 400px;
        height: 250px;
        /* background: #9c5e5e; */
        margin-left: -60px;
        padding: 10px;
    }
    /* .btns{
        
        
    }
    .btn{
        
        
    } */
}