.card1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    margin-left: 60px;
    font-size: 20px;
    
    
    
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    gap: 3px;

    background-color: rgb(36, 36, 36);
    margin-left: 60px;
    border-radius: 10px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
    font-size: 19px;

}
.card :nth-child(2){
    /* background-color: aqua; */
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 :nth-child(1){
    /* background-color: aqua; */
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 :nth-child(2){
    /* background-color: aqua; */
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card :nth-child(3){
   
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 :nth-child(3){
   
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card :nth-child(4){
    
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 :nth-child(4){
    
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card:hover  {
    background-color: rgb(255, 123, 0);
   
    color: black;
    font-weight: 700;
    box-shadow: 0 0 30px rgba(117, 189, 22, 0.842);
    
}


.img {

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(243, 242, 242, 0.452);
   background-color: transparent;
    /* width: 80px; */
    margin-left: 90px;
    

}
.name1{
    width: 150px;
    text-align: center;
    
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.btn{
    padding: 10px 50px;
    transition: all ease 0.5s;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(255, 123, 0);
    border-radius: 5px;
    color: black;
    font-weight: 700;
    box-shadow: 0 0 30px rgba(117, 189, 22, 0.842);
    
}

.search input{
    border: none;
    width: 500px;
    height: 35px;
    padding-left: 30px;
    border-radius: 6px;
    font-size: 20px;
    
}
.btnwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width:390px){
    .card{
       
        width: auto;
        font-size: 14px;
        margin: 0px;
    }
 
    .name {

        width: 100px;
        text-align: center;
    
    }
    .rank{
        text-align: end;
       
       
        width: 50px;
    }
    .name1{
        width: 70px;
        text-align: center;
    }
    .card1{
        margin-left: 18px;
        width: 114%;
        height: 50px;
    }
    
    .rank1{
        text-align: end;
       
       
        width: 50px;
    }
    .img {

        
        margin-left: 20px;
        
    
    }
    .search input{
       
        width: auto;
        
        
        
    }
    .btns{
        display: flex;
        flex-direction: column;
        
        margin-top: 20px;
        gap: 20px;
    }
    .btnwrap{
        display: flex;
        align-items: center;
        justify-items: space-evenly;
        width: 300px;
        
        gap: 30px;
        
    }
    .card :nth-child(3){
   
        height: 100%;
        width: 30%;
        
        
        
    }
}
@media screen and (max-width:500px){
    .card{
        margin: 10px 30px;
        width: auto;
        padding: 10px;
    }
    .name {

        width: 100px;
        text-align: center;
    
    }
    .img {

        margin-left: 0px;

    }
    .btns{
        display: flex;
        flex-direction: column;
        
        margin-top: 20px;
        gap: 20px;
    }
    .search input{
       
        width: 400px;
        height: 35px;
        margin-left: 0px;
        margin-right: 15px;
        
        
    }
    .card1{
        margin: 10px 30px;
        width: auto;
        padding: 10px;
    }
}
